<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>configuration</key>
    <string>Development</string>
    <key>workspace</key>
    <string>/Users/nguyen.van.hung/Desktop/PhoneVerificationController-master/Example/Example.xcworkspace</string>
    <key>scheme</key>
    <string>Example</string>
    <key>version</key>
    <string>1.0.0</string>
</dict>
</plist>