<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>configuration</key>
    <string>Development</string>
    <key>workspace</key>
    <string>/Users/nguyen.van.hung/Desktop/Example/Example.xcodeproj</string>
    <key>scheme</key>
    <string>Example</string>
    <key>mobileprovision</key>
    <string>/Users/nguyen.van.hung/Desktop/Example/Example.mobileprovision</string>
    <key>p12</key>
    <string>/Users/nguyen.van.hung/Desktop/Example/Example.p12</string>
    <key>exportmethod</key>
    <string>ad-hoc</string>
    <key>bundleid</key>
    <string>com.framgia.ios.example</string>
    <key>version</key>
    <string>1.0.0</string>
    <key>server</key>
    <string>http://192.168.5.29:4000</string>
</dict>
</plist>
